.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00004d;
  &>div {
    width: 300px;
    color: #fff;
  }
  header {
    line-height: 56px;
    display: flex;
    justify-content: space-between;
    span:nth-child(1) {
      font-size: 20px;
    }
    span:nth-child(2) {
      font-size: 14px;
      cursor: pointer;
    }
  }
  .site-form-item-icon {
    color: #bbb;
  }
}